---
import { ProjectDetailCard } from "@/components/project-detail-card";
import portfolioData from "@/data/portfolio.json";

const { projects } = portfolioData;
---

<section id="projects">
  <h2 class="mb-6 font-serif text-lg">Projects</h2>
  <div class="mx-auto flex flex-col gap-4 max-w-[800px]">
    {projects.map((project) => (
      <ProjectDetailCard
        client:load
        description={project.description}
        href={project.href}
        image={project.image}
        links={project.links}
        title={project.title}
        video={project.video}
      />
    ))}
  </div>
</section>
